[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
djangorestframework = "==3.8.2"
gunicorn = "==19.9.0"
pymongo = "==3.7.2"
djangorestframework-simplejwt = "==3.3"
"psycopg2-binary" = "*"
celery = "==4.2.1"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.7"
